{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Bienvenue, {{ request.user.username }}!</h1>

<div class="actions mb-4">
    <a href="{% url 'create_ticket' %}" class="btn btn-primary">Créer un billet</a>
    <a href="{% url 'create_review' %}" class="btn btn-secondary ml-2">Créer une critique</a>
</div>

<h2>Votre flux</h2>

<h3 class="mt-4">Billets</h3>
{% for ticket in tickets %}
    <div class="ticket mb-4">
        <strong>{{ ticket.title }}</strong> - <small>Créé par {{ ticket.user.username }}</small>
        <p>{{ ticket.description }}</p>
        <small class="date-label d-block mb-2">Publié le {{ ticket.created_at|date:"d F Y à H:i" }}</small>
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="img-fluid mb-3" style="max-width: 200px;">
        {% endif %}

        {% for review in ticket.review_set.all %}
        <div class="associated-review mb-3">
            <strong>{{ review.headline }}</strong> - <small>Créé par {{ review.user.username }}</small>
            <p>{{ review.body }}</p>
            <small class="date-label d-block mb-2">Publié le {{ review.created_at|date:"d F Y à H:i" }}</small>

            {% for i in "12345"|make_list %}
            {% if i|add:0 <= review.rating %}
            ★
            {% else %}
            ☆
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

        {% if not ticket.has_review %}
        <a href="{% url 'create_review_with_ticket' ticket.id %}" class="btn btn-secondary mb-3">Créer une critique pour ce billet</a>
        {% endif %}
    </div>
{% endfor %}

{% endblock %}
